<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Questions</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"> 
</head>
<body>
    
    <div class="container">
        <br>
        <h1 style="font-family: 'Varela Round', sans-serif;">Questions</h1>
        <br>
        <h3 style="font-family: 'Varela Round', sans-serif;"> For Age 10+</h3><br>
        
        <div class="alert alert-secondary">1. This mega-metropolis in the east of the country and home of Mother Teresa for many years.</div>
        <div class="alert alert-secondary">2. In which city is Red Fort Located ?</div>
        <div class="alert alert-secondary">3. What is the capital of Madhya Pradesh and the site of an ecological disaster in 1984?</div>
        <div class="alert alert-secondary">4. What is the capital of Mizoram ?</div>
        <div class="alert alert-secondary">5. Once named Madras, what city is situated on the east coast and is the capital of Tamil Nadu?</div>
        <div class="alert alert-secondary">6.Capital of Andhra Pradesh and the second largest inland city in India, What is it?</div>
        <div class="alert alert-secondary">7. Capital of Kerala ?</div>
        <div class="alert alert-secondary">8. Capital of Chattisgarh ?</div>
        <div class="alert alert-secondary">9. What is the capital of the group of islands Andaman and Nicobar?</div>
        <div class="alert alert-secondary">10. What is the capital of the north eastern state, Nagaland?</div>
        <div class="alert alert-secondary">11. Which Indian city is the capital of two states?</div>
        <div class="alert alert-secondary">12. How tall is the Statue of Unity inaugurated on 31st October 2018 ?</div>
        <div class="alert alert-secondary">13. What is the Currency of Iran ?</div>
        <div class="alert alert-secondary">14. What is the Capital of Switzerland ?</div>
        <div class="alert alert-secondary">15. Capital of Austria ?</div>
        <div class="alert alert-secondary">16. What is the curency of Turkey ?</div>
        <div class="alert alert-secondary">17. What is the Capital of the United Arab Emirates ?</div>
        <div class="alert alert-secondary">18. Tehran is the capital of which country ?</div>
        <div class="alert alert-secondary">19. What is the capital of Israel ?</div>
        <div class="alert alert-secondary">20. What is the capital of Canada ?</div>
        <div class="alert alert-secondary">21. In Which year was the first iPhone launched ?</div>
        <div class="alert alert-secondary">22. Who invented the Television ?</div>
        <div class="alert alert-secondary">23. Who is the founder of TATA Industries Limited ?</div>
        <div class="alert alert-secondary">24. What is the currency of Korea ?</div>
        <div class="alert alert-secondary">25. What is the curency of Russia ?</div>
        <div class="alert alert-secondary">26. What is the currency of Sweden ?</div>
        <div class="alert alert-secondary">27. Under which taluka does Virar lie ?</div>
        <div class="alert alert-secondary">28. What is the currency of Brazil ?</div>
        <div class="alert alert-secondary">29. What is the currency of Poland ?</div>
        <div class="alert alert-secondary">30. Who invented the Telephone ?</div>
        <div class="alert alert-secondary">31. What is the currency of Mexico ?</div>
        <div class="alert alert-secondary">32. Where is the White House Located ?</div>
        <div class="alert alert-secondary">33. Which country has its currency as Dinar ?</div>
        <div class="alert alert-secondary">34. Who invented Penicillin ?</div>
        <div class="alert alert-secondary">35. Who invented the World Wide Web (WWW)</div>
        <div class="alert alert-secondary">36. Who is known as the 'Father of Geometry' ?</div>
        <div class="alert alert-secondary">37. Who discovered the element 'Radium' ?</div>
        <div class="alert alert-secondary">38. The computer was invented by ?</div>
        <div class="alert alert-secondary">39. Which country does not has its currency as Euro ?</div>
        <div class="alert alert-secondary">40. Who is the 'Father of Indian Constitution' ?</div>


        <br>
        <h3 style="font-family: 'Varela Round', sans-serif;"> For Age 0-10</h3><br>
        
        <div class="alert alert-secondary">1. Which is the National Bird of India ?</div>
        <div class="alert alert-secondary">2. When is India's Independence Day ?</div>
        <div class="alert alert-secondary">3. What is the Capital of India ?</div>
        <div class="alert alert-secondary">4. Who is known as the Father of the Nation ?</div>
        <div class="alert alert-secondary">5. Who was the brother of Lord Ram ?</div>
        <div class="alert alert-secondary">6. Who wrote India's National Anthem ?</div>
        <div class="alert alert-secondary">7. Which is the highest mountain in the world?</div>
        <div class="alert alert-secondary">8. Which of these is NOT one of the colors on the Indian flag?</div>
        <div class="alert alert-secondary">9. Which is the National Fruit of India ?</div>
        <div class="alert alert-secondary">10. What is the name of the currency used in India?</div>
        <div class="alert alert-secondary">11. When is India's Republic Day ?</div>
        <div class="alert alert-secondary">12. When did India become an Independent Country?</div>
        <div class="alert alert-secondary">13. Which is the national animal of India?</div>
        <div class="alert alert-secondary">14. Which is the national flower of India?</div>
        <div class="alert alert-secondary">15. What Is The Colour Of A School Bus?</div>
        <div class="alert alert-secondary">16. How Many Spokes Are Present In The Ashoka Chakra On The National Flag?</div>
        <div class="alert alert-secondary">17. What Is The Name Of The Alien In The Film, Koi Mil Gaya?</div>
        <div class="alert alert-secondary">18. Which Country Is Termed As The Origin For The Olympic Games?</div>
        <div class="alert alert-secondary">19. What Are The Historical Structures In Egypt Called?</div>
        <div class="alert alert-secondary">20. Which Is The Largest Mammal On Earth?</div>
        <div class="alert alert-secondary">21. Which Planet Is Closest To The Sun?</div>
        <div class="alert alert-secondary">22. How many colours are present in the rainbow ?</div>
        <div class="alert alert-secondary">23. Which Scientist Is Termed With Discovering The Nature Of Gravity?</div>
        <div class="alert alert-secondary">24. What Instrument Is Famously Associated With Zakir Hussain?</div>
        <div class="alert alert-secondary">25. Which Indian Singer Is Also Called As The Nightingale?</div>
        <div class="alert alert-secondary">26. Which City Is The Eiffel Tower Located In?</div>
        <div class="alert alert-secondary">27. Which Country Has The Highest Population In The World?</div>
        <div class="alert alert-secondary">28. Which is the Largest Ocean in the world ?</div>
        <div class="alert alert-secondary">29. How Many States Are Present In Our Country, India?</div>
        <div class="alert alert-secondary">30. What is the colour of Nobita's tshirt most of the time ?</div>
        <div class="alert alert-secondary">31. Ahemdabad is the capital of which state ?</div>
        <div class="alert alert-secondary">32. What is the capital of West Bengal ?</div>
        <div class="alert alert-secondary">33. Which is the largest state in India ?</div>
        <div class="alert alert-secondary">34. Where is the Gateway Of India Located ?</div>
        <div class="alert alert-secondary">35. Where is Taj Mahal located ?</div>
        <div class="alert alert-secondary">36. What is the capital of Mizoram ? ?</div>
        <div class="alert alert-secondary">37. What is the third planet from the sun ?</div>
        <div class="alert alert-secondary">38. Which of the following is India's neighbouring country ?</div>
        <div class="alert alert-secondary">39. Who is the current Prime Minister of India?</div>
        <div class="alert alert-secondary">40. Who is the current President of India?</div>
        
        <br><br>
    </div>

</body>
</html>